footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $white;

  span:last-child:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
