.home {
  &__info {
    width: 90%;
    margin: 0 auto;
    margin-top: 10em;
    border-radius: 0.4em;
    background-color: white;
    padding: 1em;
    color: black;
    text-align: center;

    @include media(sm) {
      background-color: transparent;
      color: white;
      text-align: start;
      position: absolute;
      top: 40%;
      left: 50vw;
      transform: translate(-50%, -50%);
    }

    @include media(md) {
      background-color: transparent;
      color: white;
      text-align: start;
      position: absolute;
      top: 40%;
      left: 30vw;
      transform: translate(-50%, -50%);
      width: 40%;
    }

    @include media(lg) {
      background-color: transparent;
      color: white;
      text-align: start;
      position: absolute;
      top: 40%;
      left: 20vw;
      transform: translate(-50%, -50%);
      width: 40%;
    }

    h2 {
      font-size: calc(1rem + 2vw);
      margin-bottom: 0.5em;
      font-family: "Nanum Myeongjo", serif;
      font-weight: bold;
    }

    p {
      font-size: calc(0.5rem + 2vw);
      font-family: "Nanum Myeongjo", serif;
    }
  }

  .react-parallax > img {
    height: 100vh !important;
    width: auto;
    min-width: 100vw;
    object-fit: cover;
  }

  .react-parallax-content > div {
    height: 100vh !important;
  }
}
