// Colors
$primary-color: #132c33;
$secondary-color: #126e82;
$tertiary-color: #51c4d3;
$quaternary-color: #d8e3e7;
$quinary-color: #f4f2e8;
$senary-color: #fb6f43;

// Font-color
$primary-ft: #393e46;
$secondary-ft: #ececec;

// Basics
$white: #fff;
