$sm-m-top: 12em;
$md-m-top: 6.5em;

.about-header {
  display: flex;

  .carousel-root {
    width: calc(60vw - 2em);
    display: none;

    @include media(md) {
      display: block;
      margin-top: $md-m-top;
    }

    @include media(lg) {
      display: block;
      margin-top: $md-m-top;
    }

    .carousel-slider {
      border-radius: 1em 0 1em 1em;
    }

    .slider-wrapper {
      height: 40vh;

      ul {
        height: 100%;
      }
    }

    .slide > div,
    .slide img {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  }

  &__info {
    height: 35vh;
    background-color: $secondary-color;
    margin-top: $sm-m-top;
    color: $white;
    width: 100%;
    border-radius: 1em;
    padding: 1em;

    @include media(md) {
      padding: 2em;
      border-radius: 0 1em 1em 0;
      width: calc(40vw - 2em);
      margin-top: $md-m-top;
    }

    @include media(lg) {
      padding: 2em;
      border-radius: 0 1em 1em 0;
      width: calc(40vw - 2em);
      margin-top: $md-m-top;
    }

    h4 {
      font-size: 1.8rem;
      margin-bottom: 1em;
    }
  }
}
