.shapes {
  height: 35vh;
  margin: auto 0;
  display: flex;
  justify-content: center;
  background-color: rgb(128, 128, 128);

  img {
    width: 62em;
    height: auto;
    max-height: 35vh;
    border-radius: 1em;
    object-fit: cover;
  }
}
